/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/selection";
@import "compass/css3/flexbox";

$mainLinkColor : #c39f76;
$mainColorText : #5a5a5a;
$mainColorDark : #1b1b1b;
$mainColorLight :#f4f4f4;
$linkColor : #8a8f6a;

@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/texgyreadventor.ttf);
}

body,html{
    font-family: TeXGyreAdventor;
    height: 100%;
}

a{
	text-decoration: none;
	color: black;
	&:hover, &:focus, &:active{
			text-decoration: none;
	}
}

header{
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 25px 30px;
	@include display-flex;
	    @include flex-direction(row);
	    @include justify-content(space-between);
	.menu {
	   	@include display-flex;
	    @include flex-direction(row);
	    @include justify-content(flex-end);
	    @include transition(all 0.5s ease-out);
	    li {
	        list-style: none;
			@include align-items(center);
	        padding: 15px 0;
	        position: relative; 
	        ul{
	        	z-index: 2;
	        	padding-top: 10px;
	        	display: none;
	        	position: absolute;
		        left: 0;   
		        @include transition(all 0.3s ease-out);
		        li{
		        	@include align-items(flex-start);
		        	margin: 0;
		        	&:after{
		        		content: "";
		        		
		        	}
			    }
	        }
	        a{
		        width: 150px;
		        height: 30px;
		        color:#333;
		        text-decoration: none;
		        text-transform: uppercase;
		        font-size: 11px;
	    		font-style: normal;
		        letter-spacing: 1px;
		        font-weight: 600;
		        font-family: TeXGyreAdventor;
		        @include transition(all 0.3s ease-out);
		        &:hover{
		        	color: $mainLinkColor;
		        }
		        
	        }
	        &:after{
			    	content: "/";
			    	color: $mainColorText;
		        	margin: 15px;
			}
			&:nth-last-child(1){
				&:after{
	        		content: "";
	        		margin: 0;
			    }
			}
	        &:hover ul{
	        	@include display-flex;
			    @include flex-direction(column);
			    @include justify-content(flex-start);
	        }
	    }

	}
}

/*
header{
	z-index: 2;
	position: fixed;
	width: 100%;
	@include display-flex;
    @include flex-direction(row);
    @include justify-content(flex-end);
	@include align-items(center);
	padding: 25px 30px;

	.menu {
	   	@include display-flex;
	    @include flex-direction(row);
	    @include justify-content(flex-end);
	    @include transition(all 0.5s ease-out);
	    li {
	        list-style: none;
			@include align-items(center);
	        margin: 0 15px;
	        padding: 15px 0;
	        position: relative; 
	        ul{
	        	z-index: 2;
	        	padding-top: 10px;
	        	display: none;
	        	position: absolute;
		        left: 0;   
		        @include transition(all 0.3s ease-out);
		        li{
		        	@include align-items(flex-start);
		        	margin: 0;
			    }
	        }
	        a{
		        width: 150px;
		        height: 30px;
		        color:#333;
		        text-decoration: none;
		        text-transform: uppercase;
		        font-size: 12px;
	    		font-style: normal;
		        letter-spacing: 1px;
		        font-weight: 600;
		        font-family: TeXGyreAdventor;
		        @include transition(all 0.3s ease-out);
		        &:hover{
		        	color: $mainLinkColor;
		        }
	        }
	        &:hover ul{
	        	@include display-flex;
			    @include flex-direction(column);
			    @include justify-content(flex-start);
	        }
	    }
	}
}*/


.header__icons{
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(center);
	@include align-self(center);
	i{
		color: $mainColorDark;
		padding: 10px;
		font-size: 11px;
		&:hover{
			color: $mainLinkColor;
		}
	}
}


.postWrap.slick-slider{
		margin: 0 !important;
	}
.postWrap{
	overflow: hidden;
	
	.slick-slide{
		@include display-flex;
	}
}

.mainPost{
	@include display-flex;
	&:nth-child(odd){
		@include flex-direction(row-reverse);	
	}
	&__img{
		overflow: hidden;		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__description{
		//margin: 30px;
		//padding: 20px;
		//border: 1px solid $mainLinkColor;
		background-image: url(../images/bg_g.jpg);
		@include display-flex;
	    @include flex-direction(column);
	    @include justify-content(center);
      	@include align-items(center);
      				text-align: center;

	
		.line{
			width: 100px;
    		height: 8px;
			background-image: url(../images/line.png);
		}
		.title{
			font-size: 50px;
			padding: 35px 0px;

		}
		.text{
			color: $mainColorText;
			width: 70%;
			margin: 35px auto;
			font-size: 16px;
			line-height: 25px;
			letter-spacing: 1px;
		}
	}
	.col-md-6{
		padding: 0;
	}
}
.row{
	margin: 0;
}
.col-md-6{
	padding: 0;
}
#first{
	display: none;
}


.sidebar{
	background-color: $mainColorDark;
	position: fixed;
	width: 300px;
	height: 100%;
	z-index: 1;
	@include display-flex;
	@include flex-direction(column);
	@include justify-content(center);
	.menu  {
	    //margin-top: 70px;
	   // font-family: casper_bold;
	    list-style: none;
	    //padding:20px 50px;
	    *zoom: 1;
	    &:before, &:after{
	        content: " "; 
	        display: table; 
	    }
	    ul {
	        list-style: none;
	        width: 10em;
	       
	    }
	    a {
		    height: 44px;
		    line-height: 44px;
		    padding: 0 20px;
	        font-size: 12px;
	        letter-spacing: 3px;
	        font-weight: 300;
	        text-transform: uppercase;
	        display: block;
	        //color: lighten($mainColorText,10%);
	        color:white;
			border-bottom: 1px dotted $mainColorText;
	        @include transition(all,0.3s);
	        &:hover {
	            color: $mainLinkColor;
	        }
	    }
	    li{
		    padding: 0 30px;
	        &:before{
	            content: " ";
	        }
	        ul{
	        	background-color: darken($mainColorDark,5%);
	            position: absolute;
			    left: 100%;
			    display: none;
			    z-index: 1001;
	            width: 250px;
	            height: 100%;
	    		top: 0;
	    		opacity: 0;
	    		@include transition(opacity,0.3s);
	            li{
	                a{
	                   	line-height: 34px;
						height: 34px;
						font-size: 10px;
	                }
	                &:hover{
			    		background-color: darken($mainColorDark,10%);
	        		}
	            }
	        }
	        &:hover{
	    		background-color: darken($mainColorDark,5%);
	    		> a{
	    			border-color: transparent;
	    		}
	        }
	        &:hover ul{
	        	opacity: 1;
	    		@include transition(opacity,0.3s);
	        	@include display-flex;
			    @include flex-direction(column);
			    @include justify-content(center);
	        }
	    }
	    .submenu{
	        margin-left: -20px;
	        &:before{
	            margin-right: 10px;
	            font-weight: 100;
	            font-size: 16px;
	            content: "+";
	        }
	    }
	    &_active{
	        color: $mainLinkColor !important;
	    }
	}
	.menu:after {
	    clear: both;
	}

	&__icons{
		padding: 20px;
		margin: 20px 10px 40px;
		position: fixed;
	    bottom: 0;
		i{
			//color: lighten($mainColorText,10%);
			color: white;
			padding: 10px;
			font-size: 22px;
			&:hover{
				color: $mainLinkColor;
			}
		}
		&_social{
			margin: 15px 0;
			text-align: center;
			i{
				width: 15px;
				line-height: 15px;
				border:3px solid white;
				font-size: 14px;
				&:hover{
					border-color: $mainLinkColor;
				}
			}
		}
	}
	.logo{
		width: 150px;
		height: 150px;
		margin: 40px 10px 20px;
		position: fixed;
	    top: 0;
		img{
			height: 100%;
			width: 100%;
			object-fit:cover;
		}
	}

}

.logo{
	width: 60px;
	height: 50px;
	img{
		height: 100%;
		width: 100%;
		object-fit:cover;
	}
}

.slider{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-bottom: 70px;
	img{
		height: 100%;
		width: 100%;
		object-fit:cover;

	}
	.slick-list,.slick-track{
		height: 100%;
	}
}

.container-fluid{
	padding: 0;
	margin: 0;
}

#main{
	margin-left: 300px;
}

.title{
	text-align: center;
	margin-top: 20px;
	//margin-bottom: 30px;
	font-size: 20px;
	letter-spacing: 5px;
	font-weight: 600;
	&__sub{
		text-align: center;
		font-size: 14px;
		font-style: italic;
		color: $mainColorText;
		margin-top: 20px;
	}
}

.line{
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(center);
    @include align-items(center);
	&__doted{
	    border: none;
	    border-top: 1px dotted $mainColorText;
	    width: 200px;
	}
	img{
		width: 100px;
		height: 100px;
		object-fit:cover;
		
	}
	margin-bottom: 40px;
}

.row{
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(left);
	@include flex-wrap(wrap);
    @include align-items(center);
}

.product{
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	margin: 10px;
	&__img{
		width: 100%;
		height: 100%;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
		}
		&:hover .product__caption{
			bottom: 1px;
			@include transition(all,0.3s);
		}
	}
	&__caption{
		position: absolute;
		bottom: -50px;
		left:0;
		background: $mainColorDark;
		@include transition(all,0.3s);
		button{
			cursor: pointer;
			text-transform: uppercase;
			float: left;
			@include display-flex;
			@include flex-direction(row);
			@include justify-content(center);
			background: transparent;
		    border: none; 
		    border-right: 1px solid $mainColorText;
			font-size: 11px;
			color: white;
			padding: 15px 15px;
			position: relative;
			z-index: 2;
			p{
				margin-left: 7px;
			}
			@include transition(all,0.3s);
		    &:before {
				width: 100%;
				height: 0;
				top: 0;
				left: 0;
				background-color: $mainColorLight;
				//background-color:  darken($linkColor,25%);
				content: '';
				position: absolute;
				z-index: -1;
				@include transition(all,0.3s);

			}
			&:hover:before,&:active:before{
				height: 100%;
			}
			&:hover{
				@include transition(all,0.3s);
				color: $mainColorDark;
				border-color: $mainColorLight;
			}
		}
	}
	&__title{
		float:left;
	}
	&__price{
		text-align: right;
	}
	&__description{
		font-weight: 100;
		font-size: 13px;
		font-style: italic;
		color: $mainColorText;
		text-transform: none;
		margin: 10px 0 30px;

	}
	&__rating{}
}

.advert{
	margin-top: 20px;
	background-color: $mainColorLight;
	padding: 50px;
	text-align: center;
}

footer{
	background-color: $mainColorDark;
	padding: 30px;
	h3{
		font-size: 12px;
		letter-spacing: 2px;
		line-height: 36px;
		text-align: center;
		color: $mainLinkColor;
	}
}

.button {
	z-index: 2;
	margin: 30px 10px 0;
    background: none;
    cursor: pointer;
    padding: 15px 80px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    @include transition(all,0.3s);
    &:before {
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		content: '';
		position: absolute;
		z-index: -1;
		@include transition(all,0.3s);

	}
	&:hover:before,&:active:before{
		height: 100%;
	}
}

.button-1 {
	border: 1px solid $mainColorText;
	color: $mainColorDark;
}

.button-2 {
	border: 1px solid $linkColor;
	background-color: $linkColor;
	color: white;
}

/* Button 1b */
.button-1b:before {
	background: $mainColorDark;
}

.button-1b:hover,
.button-1b:active {
	color: white;
}

/* Button 1b */
.button-2b:before {
	background: darken($linkColor,25%);
}

.button-2b:hover,
.button-2b:active {
	color: white;
}

.galery{
	margin-top: 100px;
	//width: 50%;
	.slider-nav{
		width: 600px;
		margin-top: 20px;
		img{
			padding:0 5px;
			object-fit:cover;
			width: 150px !important;			
			height: 150px;

		}
	}
	.slider-for{
		width: 600px;
		height: 600px;
		img{
			height: 600px;
			object-fit:cover;
		}
	}
	.slick-track{
		//width: 100% !important;
    	transform: none !important;
	}
	.slick-list.draggable{
		padding: 0 !important;
	}
}

.magnifier{
	img{
		object-fit:cover;
	}
}