/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'TeXGyreAdventor';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/texgyreadventor.ttf);
}
/* line 28, ../sass/screen.scss */
body, html {
  font-family: TeXGyreAdventor;
  height: 100%;
}

/* line 33, ../sass/screen.scss */
a {
  text-decoration: none;
  color: black;
}
/* line 36, ../sass/screen.scss */
a:hover, a:focus, a:active {
  text-decoration: none;
}

/* line 41, ../sass/screen.scss */
header {
  z-index: 2;
  position: fixed;
  width: 100%;
  padding: 25px 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 49, ../sass/screen.scss */
header .menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 54, ../sass/screen.scss */
header .menu li {
  list-style: none;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px 0;
  position: relative;
}
/* line 59, ../sass/screen.scss */
header .menu li ul {
  z-index: 2;
  padding-top: 10px;
  display: none;
  position: absolute;
  left: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 66, ../sass/screen.scss */
header .menu li ul li {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 0;
}
/* line 69, ../sass/screen.scss */
header .menu li ul li:after {
  content: "";
}
/* line 75, ../sass/screen.scss */
header .menu li a {
  width: 150px;
  height: 30px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: TeXGyreAdventor;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 87, ../sass/screen.scss */
header .menu li a:hover {
  color: #c39f76;
}
/* line 92, ../sass/screen.scss */
header .menu li:after {
  content: "/";
  color: #5a5a5a;
  margin: 15px;
}
/* line 98, ../sass/screen.scss */
header .menu li:nth-last-child(1):after {
  content: "";
  margin: 0;
}
/* line 103, ../sass/screen.scss */
header .menu li:hover ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

/*
header{
	z-index: 2;
	position: fixed;
	width: 100%;
	@include display-flex;
    @include flex-direction(row);
    @include justify-content(flex-end);
	@include align-items(center);
	padding: 25px 30px;

	.menu {
	   	@include display-flex;
	    @include flex-direction(row);
	    @include justify-content(flex-end);
	    @include transition(all 0.5s ease-out);
	    li {
	        list-style: none;
			@include align-items(center);
	        margin: 0 15px;
	        padding: 15px 0;
	        position: relative; 
	        ul{
	        	z-index: 2;
	        	padding-top: 10px;
	        	display: none;
	        	position: absolute;
		        left: 0;   
		        @include transition(all 0.3s ease-out);
		        li{
		        	@include align-items(flex-start);
		        	margin: 0;
			    }
	        }
	        a{
		        width: 150px;
		        height: 30px;
		        color:#333;
		        text-decoration: none;
		        text-transform: uppercase;
		        font-size: 12px;
	    		font-style: normal;
		        letter-spacing: 1px;
		        font-weight: 600;
		        font-family: TeXGyreAdventor;
		        @include transition(all 0.3s ease-out);
		        &:hover{
		        	color: $mainLinkColor;
		        }
	        }
	        &:hover ul{
	        	@include display-flex;
			    @include flex-direction(column);
			    @include justify-content(flex-start);
	        }
	    }
	}
}*/
/* line 173, ../sass/screen.scss */
.header__icons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-self: center;
  align-self: center;
}
/* line 178, ../sass/screen.scss */
.header__icons i {
  color: #1b1b1b;
  padding: 10px;
  font-size: 11px;
}
/* line 182, ../sass/screen.scss */
.header__icons i:hover {
  color: #c39f76;
}

/* line 189, ../sass/screen.scss */
.postWrap.slick-slider {
  margin: 0 !important;
}

/* line 192, ../sass/screen.scss */
.postWrap {
  overflow: hidden;
}
/* line 195, ../sass/screen.scss */
.postWrap .slick-slide {
  display: -webkit-flex;
  display: flex;
}

/* line 200, ../sass/screen.scss */
.mainPost {
  display: -webkit-flex;
  display: flex;
}
/* line 202, ../sass/screen.scss */
.mainPost:nth-child(odd) {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
/* line 205, ../sass/screen.scss */
.mainPost__img {
  overflow: hidden;
}
/* line 207, ../sass/screen.scss */
.mainPost__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 213, ../sass/screen.scss */
.mainPost__description {
  background-image: url(../images/bg_g.jpg);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
/* line 225, ../sass/screen.scss */
.mainPost__description .line {
  width: 100px;
  height: 8px;
  background-image: url(../images/line.png);
}
/* line 230, ../sass/screen.scss */
.mainPost__description .title {
  font-size: 50px;
  padding: 35px 0px;
}
/* line 235, ../sass/screen.scss */
.mainPost__description .text {
  color: #5a5a5a;
  width: 70%;
  margin: 35px auto;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}
/* line 244, ../sass/screen.scss */
.mainPost .col-md-6 {
  padding: 0;
}

/* line 248, ../sass/screen.scss */
.row {
  margin: 0;
}

/* line 251, ../sass/screen.scss */
.col-md-6 {
  padding: 0;
}

/* line 254, ../sass/screen.scss */
#first {
  display: none;
}

/* line 259, ../sass/screen.scss */
.sidebar {
  background-color: #1b1b1b;
  position: fixed;
  width: 300px;
  height: 100%;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 268, ../sass/screen.scss */
.sidebar .menu {
  list-style: none;
  *zoom: 1;
}
/* line 274, ../sass/screen.scss */
.sidebar .menu:before, .sidebar .menu:after {
  content: " ";
  display: table;
}
/* line 278, ../sass/screen.scss */
.sidebar .menu ul {
  list-style: none;
  width: 10em;
}
/* line 283, ../sass/screen.scss */
.sidebar .menu a {
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  color: white;
  border-bottom: 1px dotted #5a5a5a;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 296, ../sass/screen.scss */
.sidebar .menu a:hover {
  color: #c39f76;
}
/* line 300, ../sass/screen.scss */
.sidebar .menu li {
  padding: 0 30px;
}
/* line 302, ../sass/screen.scss */
.sidebar .menu li:before {
  content: " ";
}
/* line 305, ../sass/screen.scss */
.sidebar .menu li ul {
  background-color: #0e0e0e;
  position: absolute;
  left: 100%;
  display: none;
  z-index: 1001;
  width: 250px;
  height: 100%;
  top: 0;
  opacity: 0;
  -moz-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  -webkit-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
}
/* line 317, ../sass/screen.scss */
.sidebar .menu li ul li a {
  line-height: 34px;
  height: 34px;
  font-size: 10px;
}
/* line 322, ../sass/screen.scss */
.sidebar .menu li ul li:hover {
  background-color: #020202;
}
/* line 327, ../sass/screen.scss */
.sidebar .menu li:hover {
  background-color: #0e0e0e;
}
/* line 329, ../sass/screen.scss */
.sidebar .menu li:hover > a {
  border-color: transparent;
}
/* line 333, ../sass/screen.scss */
.sidebar .menu li:hover ul {
  opacity: 1;
  -moz-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  -webkit-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 341, ../sass/screen.scss */
.sidebar .menu .submenu {
  margin-left: -20px;
}
/* line 343, ../sass/screen.scss */
.sidebar .menu .submenu:before {
  margin-right: 10px;
  font-weight: 100;
  font-size: 16px;
  content: "+";
}
/* line 350, ../sass/screen.scss */
.sidebar .menu_active {
  color: #c39f76 !important;
}
/* line 354, ../sass/screen.scss */
.sidebar .menu:after {
  clear: both;
}
/* line 358, ../sass/screen.scss */
.sidebar__icons {
  padding: 20px;
  margin: 20px 10px 40px;
  position: fixed;
  bottom: 0;
}
/* line 363, ../sass/screen.scss */
.sidebar__icons i {
  color: white;
  padding: 10px;
  font-size: 22px;
}
/* line 368, ../sass/screen.scss */
.sidebar__icons i:hover {
  color: #c39f76;
}
/* line 372, ../sass/screen.scss */
.sidebar__icons_social {
  margin: 15px 0;
  text-align: center;
}
/* line 375, ../sass/screen.scss */
.sidebar__icons_social i {
  width: 15px;
  line-height: 15px;
  border: 3px solid white;
  font-size: 14px;
}
/* line 380, ../sass/screen.scss */
.sidebar__icons_social i:hover {
  border-color: #c39f76;
}
/* line 386, ../sass/screen.scss */
.sidebar .logo {
  width: 150px;
  height: 150px;
  margin: 40px 10px 20px;
  position: fixed;
  top: 0;
}
/* line 392, ../sass/screen.scss */
.sidebar .logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 401, ../sass/screen.scss */
.logo {
  width: 60px;
  height: 50px;
}
/* line 404, ../sass/screen.scss */
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 411, ../sass/screen.scss */
.slider {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 70px;
}
/* line 416, ../sass/screen.scss */
.slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* line 422, ../sass/screen.scss */
.slider .slick-list, .slider .slick-track {
  height: 100%;
}

/* line 427, ../sass/screen.scss */
.container-fluid {
  padding: 0;
  margin: 0;
}

/* line 432, ../sass/screen.scss */
#main {
  margin-left: 300px;
}

/* line 436, ../sass/screen.scss */
.title {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 600;
}
/* line 443, ../sass/screen.scss */
.title__sub {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #5a5a5a;
  margin-top: 20px;
}

/* line 452, ../sass/screen.scss */
.line {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 40px;
}
/* line 457, ../sass/screen.scss */
.line__doted {
  border: none;
  border-top: 1px dotted #5a5a5a;
  width: 200px;
}
/* line 462, ../sass/screen.scss */
.line img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* line 471, ../sass/screen.scss */
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

/* line 479, ../sass/screen.scss */
.product {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 10px;
}
/* line 485, ../sass/screen.scss */
.product__img {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
/* line 491, ../sass/screen.scss */
.product__img img {
  width: 100%;
  height: 100%;
}
/* line 495, ../sass/screen.scss */
.product__img:hover .product__caption {
  bottom: 1px;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 500, ../sass/screen.scss */
.product__caption {
  position: absolute;
  bottom: -50px;
  left: 0;
  background: #1b1b1b;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 506, ../sass/screen.scss */
.product__caption button {
  cursor: pointer;
  text-transform: uppercase;
  float: left;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  background: transparent;
  border: none;
  border-right: 1px solid #5a5a5a;
  font-size: 11px;
  color: white;
  padding: 15px 15px;
  position: relative;
  z-index: 2;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 521, ../sass/screen.scss */
.product__caption button p {
  margin-left: 7px;
}
/* line 525, ../sass/screen.scss */
.product__caption button:before {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  content: '';
  position: absolute;
  z-index: -1;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 538, ../sass/screen.scss */
.product__caption button:hover:before, .product__caption button:active:before {
  height: 100%;
}
/* line 541, ../sass/screen.scss */
.product__caption button:hover {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #1b1b1b;
  border-color: #f4f4f4;
}
/* line 548, ../sass/screen.scss */
.product__title {
  float: left;
}
/* line 551, ../sass/screen.scss */
.product__price {
  text-align: right;
}
/* line 554, ../sass/screen.scss */
.product__description {
  font-weight: 100;
  font-size: 13px;
  font-style: italic;
  color: #5a5a5a;
  text-transform: none;
  margin: 10px 0 30px;
}

/* line 566, ../sass/screen.scss */
.advert {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 50px;
  text-align: center;
}

/* line 573, ../sass/screen.scss */
footer {
  background-color: #1b1b1b;
  padding: 30px;
}
/* line 576, ../sass/screen.scss */
footer h3 {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 36px;
  text-align: center;
  color: #c39f76;
}

/* line 585, ../sass/screen.scss */
.button {
  z-index: 2;
  margin: 30px 10px 0;
  background: none;
  cursor: pointer;
  padding: 15px 80px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 596, ../sass/screen.scss */
.button:before {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  z-index: -1;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 607, ../sass/screen.scss */
.button:hover:before, .button:active:before {
  height: 100%;
}

/* line 612, ../sass/screen.scss */
.button-1 {
  border: 1px solid #5a5a5a;
  color: #1b1b1b;
}

/* line 617, ../sass/screen.scss */
.button-2 {
  border: 1px solid #8a8f6a;
  background-color: #8a8f6a;
  color: white;
}

/* Button 1b */
/* line 624, ../sass/screen.scss */
.button-1b:before {
  background: #1b1b1b;
}

/* line 628, ../sass/screen.scss */
.button-1b:hover,
.button-1b:active {
  color: white;
}

/* Button 1b */
/* line 634, ../sass/screen.scss */
.button-2b:before {
  background: #434634;
}

/* line 638, ../sass/screen.scss */
.button-2b:hover,
.button-2b:active {
  color: white;
}

/* line 643, ../sass/screen.scss */
.galery {
  margin-top: 100px;
}
/* line 646, ../sass/screen.scss */
.galery .slider-nav {
  width: 600px;
  margin-top: 20px;
}
/* line 649, ../sass/screen.scss */
.galery .slider-nav img {
  padding: 0 5px;
  object-fit: cover;
  width: 150px !important;
  height: 150px;
}
/* line 657, ../sass/screen.scss */
.galery .slider-for {
  width: 600px;
  height: 600px;
}
/* line 660, ../sass/screen.scss */
.galery .slider-for img {
  height: 600px;
  object-fit: cover;
}
/* line 665, ../sass/screen.scss */
.galery .slick-track {
  transform: none !important;
}
/* line 669, ../sass/screen.scss */
.galery .slick-list.draggable {
  padding: 0 !important;
}

/* line 675, ../sass/screen.scss */
.magnifier img {
  object-fit: cover;
}
